.header_div
{
    background: white;
    color: red;
}
.header_div img
{
    width: 100px;
}
.main_div
{
    background:thistle;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label
{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px grey;
}
#camera, #result
{
    border: 2px solid yellow;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px grey;

}
.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px lightgrey;
    border: 1px solid green;
}
.footer_div 
{
    margin-bottom: 50px;
}
.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.footer_div img
{
    width: 70px;
}
